[submodule "spidermonkey-ff4"]
	path = upstream/spidermonkey-ff4
	url = https://github.com/jonmseaman/spidermonkey-ff4.git
[submodule "oolite-debug-console"]
	path = upstream/oolite-debug-console
	url = https://github.com/jonmseaman/oolite-debug-console.git
[submodule "oolite-mac-components"]
	path = upstream/oolite-mac-components
	url = https://github.com/jonmseaman/oolite-mac-components.git
